body { /****ラベルの内側****/
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    color: #333;
}

header, footer {/***ラベル内***/
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

div  {
    background-color: #ffffff;
    color: rgb(5, 241, 166);
}
/***ランダム名言の設定***/
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
.famousquotes {
  font-size: 15px;
  font-family: 'Itim', cursive;}


/***土、日を色付きで表現***/
th:nth-child(1),
td:nth-child(n):nth-child(-n+1) {
  background-color: #ffe5e5;
  color: red;
}

th:nth-child(7),
td:nth-child(n+7):nth-child(n+7) {
  background-color: #61b8f7;
  color: rgb(32, 113, 245);
}

td.today { /***今日が土日の場合、todayがオレンジ色で表示されないので、"!important"を使って絶対表示にしている。***/
  background-color: #ffcc80 !important;
  font-weight: bold;
}

