<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        MachoMachoMacho{% endblock %}
    </title>
    {% block head %}
    <!-- 編集用のCSSファイルを読み込み -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <h1>MachoMachoMacho</h1>
        <a href="{{ url_for('user_info', user_id=session['user_id']) }}">
            <img src="https://as1.ftcdn.net/jpg/16/02/74/14/1000_F_1602741426_0u7jLpfCG6ye514Rm0cMUtNXgzqb0FeV.jpg"
         alt="アイコン" >
        </a>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 Machoチーム</p>
    </footer>
</body>
</html>