<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
        <title>個人情報入力ページ</title>
    </head>   

    <body>
        <p>個人情報を入力してください</p>

        <form action="#" method="post">

        <label for="username">ユーザー名:</label>
        <input type="text" id="username" name="username">
          <br><br>
        <label for="email">メールアドレス:</label>
        <input type="text" id="email" name="email">
          <br><br>
        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password">
          <br><br>
        <label for="confirm_password">パスワード確認用:</label>
        <input type="password" id="confirm_password" name="confirm_password">
          <br><br>
        <label for="height">身長:</label>
        <input type="text" id="height" name="height">
          <br><br>
        <label for="weight">体重:</label>
        <input type="text" id="weight" name="weight">
          <br><br>
        <input type="submit" value="送信">

        </form>




    </body>
</html>