<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン-google</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <center>
        <div class="container">
            <h1>ログイン</h1>
            <p>作業を続けるには、ログインしてください。</p>

            <form method="POST" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}
                <p>{{ form.email.label }}</p>
                {{ form.email(class="textbox", placeholder="メールアドレス") }}

                <p>{{ form.password.label }}</p>
                {{ form.password(class="textbox", placeholder="パスワード") }}

                <p>{{ form.submit(class="button margin") }}</p>
            </form>

            <!-- 新規登録へのリンク -->
            <p>初めての方は <a href="{{ url_for('form') }}">こちらから登録</a></p>
        </div>
    </center>
</body>
</html>
